// Colors variables
// blanco al 15% y negro al 20%
$bg-color-primary: #44505d;
$bg-color-primary-light: #7e8994;
$bg-color-primary-dark: #2d343b;
$bg-color-secondary: #212529;

$bg-color-gradient: linear-gradient(to right, #303a45, #44505d);

$bg-color-black-cristal: rgba(#000000, 0.20);
$bg-color-blue-cristal: rgba(#006eff, 0.20);
$bg-color-red-cristal: rgba(#ff0000, 0.30);
$bg-color-orange-cristal: rgba(#ff9900, 0.20);
$bg-color-white-cristal: rgba(#ffffff, 0.15);
$bg-color-green-cristal: rgba(#00ff37, 0.15);

$text-color-primary: white;
$text-color-secondary: #c1c4c7;

$text-color-black: #000000;
$text-color-green: #58ff98;
$text-color-gold: #e9c00c;
$text-color-blue: #0099ff;
$text-color-red: #cc0000;


// Global styles
body {
    background-image: $bg-color-gradient;
    color: $text-color-primary;
    min-height: 100vh;
}

input.btn-custom, button.btn-custom {
    background-color: $bg-color-black-cristal !important;
    border: 1px solid $bg-color-white-cristal !important;
    box-shadow: none !important;
    color: $text-color-secondary !important;
    outline: none !important;
}

input, button {
    outline: none !important;
    box-shadow: none !important;
}

.input-group-text {
    background-color: $bg-color-primary !important;
    border: 1px solid $bg-color-white-cristal;
    color: $text-color-secondary !important;
    font-size: 1.1rem;
    min-width: 45px;
}

header {
    height: 60px;
    background-color: $bg-color-secondary;
}

main {
    min-height: 700px;
    min-height: calc(100vh - 50px - 60px);
}

footer {
    background-color: $bg-color-primary-dark;
    border-top: 1px solid $text-color-primary;
    height: 50px;
}

.bg-green {
    background-color: $bg-color-green-cristal !important;
}

.bg-red {
    background-color: $bg-color-red-cristal !important;
}

.bg-orange {
    background-color: $bg-color-orange-cristal !important;
}

.bg-black-cristal {
    background-color: $bg-color-black-cristal;
}

a.btn-success {
    background-color: $bg-color-green-cristal;
    border-color: $bg-color-green-cristal;
}

a.btn-danger {
    background-color: $bg-color-red-cristal;
    border-color: $bg-color-red-cristal;
}

a.clear {
    color: $text-color-primary;
    text-decoration: none;
}

a.btn {
    box-shadow: none !important;
    outline: none !important;
}


.dropdown-menu {
    background-color: $bg-color-primary;
    color: $text-color-primary;
    
    .dropdown-item {
        color: white;
        
        &:hover {
            background-color: $bg-color-secondary;
        }
    }
}

// ------------------------------------
#title-bar {
    padding: 1rem 0 0.5rem 0;
    border-bottom: 1px solid $bg-color-white-cristal;
    margin-bottom: 1.5rem;
}

nav {
    z-index: 99;
}

// ------------------------------------

//Login styles
#login-form {
    margin: 0;
    max-width: 550px;
    position: absolute;
    right: 50%;
    top: 40%;
    transform: translate(50%, -50%);
    width: 80%;

    .accordion {
        &-item {
            background-color: $bg-color-black-cristal;
            border: none;
        }

        &-header {
            background-color: transparent;
            border: none;
        }

        &-button {
            background-color: transparent;
            border: none;
            color: $text-color-primary;
            font-size: 1.4rem;
            justify-content: center;
            width: 100%;

            &::after {
                content: none;
            }

            &:hover {
                background-color: $bg-color-black-cristal;
            }
        }

        &-body {
            border: none;
            padding: 3rem 2.5rem 2rem 2.5rem;
            position: relative;

            &::before {
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid $bg-color-white-cristal;
                content: '';
                display: block;
                height: 90%;
                left: 4%;
                position: absolute;
                top: 5%;
                width: 93%;
            }

            .input-group {
                margin-bottom: 1rem;

                &:active, &:hover, &:focus {
                    input, label {
                        border-color: $text-color-primary !important;
                    }
                }

                input[type="submit"] {
                    background-color: $bg-color-primary !important;
                    border: 1px solid $text-color-secondary !important;
                    color: $text-color-primary !important;
                    font-size: 1.1rem;
                    margin-top: 1rem;
                    width: 100%;

                    &:hover {
                        background-color: $bg-color-black-cristal !important;
                        border: 1px solid rgba($text-color-primary, 0.2) !important;
                        color: $text-color-secondary !important;
                    }
                }
            }
        }
    }
}
// ------------------------------------

//detail-box styles
.detail-box {
    margin-bottom: 1.5rem;

    &-title {
        background-color: $bg-color-black-cristal;
        border-bottom: 1px solid $bg-color-white-cristal;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 0.8rem;
        text-transform: uppercase;
        text-align: center;
    }

    &-body {
        border-bottom: 10px solid $bg-color-black-cristal;
        border-radius: 0 0 10px 20px;
        table {

            tbody, thead {
                tr {
                    background-color: $bg-color-white-cristal;
                    border-radius: 10px;
                    box-shadow: 0px 1px 2px 0px rgba($bg-color-white-cristal, 0.4);
                    margin: 0.5rem 0;
                    padding: 0.5rem 0.5rem 0.5rem 0.5rem;

                    &.title {
                        background-color: $bg-color-black-cristal;
                        border-radius: 0;
                        box-shadow: none;
                        color: $text-color-secondary;
                        font-size: 1.1rem;
                        font-weight: 600;
                        margin: 0;
                        padding: 0.3rem 0.1rem 0.3rem 1rem;
                    }
                }
            }

            tbody {
                display: block;
                max-height: 250px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    border-radius: 10px;
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgba($bg-color-white-cristal, 0.05);
                    border-radius: 40%;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $bg-color-black-cristal;
                }

                &::-webkit-scrollbar-thumb:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// -------------------------------
// Custom Cards styles
.card {
    background-color: $bg-color-black-cristal;
    border: none;
    margin-bottom: 1rem;

    &-header {
        background-color: $bg-color-black-cristal;
        border-color: $bg-color-white-cristal;

        .card-title {
            margin: 0.3rem 0;
        }
    }

    &-footer {
        border-color: $bg-color-white-cristal;
    }
}

// -------------------------------
// Custom Modal styles
.modal {
    background-color: $bg-color-black-cristal;    
    &-content {
        background: $bg-color-gradient;
    }
}

// Label Groups styles
.label-group {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

    &-title {
        background-color: $bg-color-secondary;
        color: $text-color-secondary;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.2rem 1rem;
        width: 100%;
    }

    &-info {
        background-color: $bg-color-blue-cristal;
        padding: 0.2rem 1rem;
        width: 100%;
    }
}

.loan {
    background-color: $bg-color-black-cristal;
    border-radius: 15px;
    border-right: 7px solid $bg-color-green-cristal;
    box-shadow: -3px 1px 5px 2px rgba(#000000, 0.30);
    cursor: pointer;
    margin-bottom: 2rem;
    padding: 0.7rem 0.5rem 1rem 0.5rem;

    label {
        cursor: pointer;
    }

    &:hover {
        box-shadow: -4px 2px 7px 4px rgba(#000000, 0.30);
        color: $text-color-secondary;
        .text-white {
            color: $text-color-secondary !important;
        }
    }

    &-customer {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        text-decoration: underline;
    }

    &-info {
        color: $text-color-secondary;
        font-weight: 700;
        text-align: center;
    }
}

.amortization {
    .customer {
        padding: 1rem;

        &-name {
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
        }

        &-address {
            color: $text-color-secondary;
            font-weight: 700;
            text-align: center;
        }

        &-info {
            line-height: 1.5rem;
        }
    }

    &-table {
        tr.row {
            background-color: $bg-color-white-cristal;

            &:nth-child(2n) {
                background-color: $bg-color-black-cristal;
            }
            &:hover {
                background-color: $bg-color-white-cristal;
            }
        }

        tr.title {
            background-color: $bg-color-secondary;
            &:hover {
                background-color: $bg-color-secondary;
            }
        }
    }
}

.table-users {
    thead tr {
        font-size: 1.1rem;
    }

    tbody tr {
        padding-top: 1rem;
        padding-bottom: 1rem;

        td, th {
            background-color: rgba($bg-color-black-cristal, 0.1);
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        &:hover {
            background-color: rgba($bg-color-blue-cristal, 0.1) !important;
        }
        &:nth-child(2n) {
            background-color: rgba($bg-color-blue-cristal, 0.05);
        }
    }

    .my-icon {
        font-size: 1.1rem;
        margin-right: 0.7rem;

        &.fa-key {
            color: $text-color-gold;

            &:hover {
                color: rgba($text-color-gold, 0.6);
            }
        }

        &.fa-eye {
            color: $text-color-primary;

            &:hover {
                color: $text-color-secondary;
            }
        }

        &.fa-edit {
            color: $text-color-blue;

            &:hover {
                color: rgba($text-color-blue, 0.5);
            }
        }

        &.fa-trash-alt {
            color: $text-color-red;

            &:hover {
                color: rgba($text-color-red, 0.7);
            }
        }
    }
}


.alert {
    border: none;
    box-shadow: 0 0 8px 4px $bg-color-black-cristal;
    left: 50%;
    max-width: 400px;
    padding: 1rem 2rem 1.5rem 2rem;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 black;
    transform: translate(-50%, 10%);
    z-index: 9999;
    
    div {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    &.alert-primary {
        background-color: rgba(#6faeff, 0.95);
    }

    &.alert-danger {
        background-color: rgba(#ff8f8f, 0.95);
    }

    &.alert-success {
        background-color: rgba(#76c780, 0.95);
    }

}

input.input-validation-error, input.input-validation-error, .form-group.input-validation-error {
    .input-group-text, .form-control {
        border: 1px solid $text-color-red;
        &:hover {
            border: 1px solid $text-color-red;
        }
    }
}

input.valid, input.valid, .form-group.valid {
    .input-group-text, .form-control {
        border: 1px solid $text-color-blue;
        &:hover {
            border: 1px solid $text-color-blue;
        }
    }
}

.input-group.input-validation-error, .input-group.input-validation-error, .form-group.input-validation-error {
    .input-group-text, .form-control {
        border: 1px solid $text-color-red;
        &:hover {
            border: 1px solid $text-color-red;
        }
    }
}

.input-group.valid, .input-group.valid, .form-group.valid {
    .input-group-text, .form-control {
        border: 1px solid $text-color-blue;
        &:hover {
            border: 1px solid $text-color-blue;
        }
    }
}