body {
  background-image: -webkit-gradient(linear, left top, right top, from(#303a45), to(#44505d));
  background-image: linear-gradient(to right, #303a45, #44505d);
  color: white;
  min-height: 100vh;
}

input.btn-custom, button.btn-custom {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #c1c4c7 !important;
  outline: none !important;
}

input, button {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-group-text {
  background-color: #44505d !important;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #c1c4c7 !important;
  font-size: 1.1rem;
  min-width: 45px;
}

header {
  height: 60px;
  background-color: #212529;
}

main {
  min-height: 700px;
  min-height: calc(100vh - 50px - 60px);
}

footer {
  background-color: #2d343b;
  border-top: 1px solid white;
  height: 50px;
}

.bg-green {
  background-color: rgba(0, 255, 55, 0.15) !important;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.bg-orange {
  background-color: rgba(255, 153, 0, 0.2) !important;
}

.bg-black-cristal {
  background-color: rgba(0, 0, 0, 0.2);
}

a.btn-success {
  background-color: rgba(0, 255, 55, 0.15);
  border-color: rgba(0, 255, 55, 0.15);
}

a.btn-danger {
  background-color: rgba(255, 0, 0, 0.3);
  border-color: rgba(255, 0, 0, 0.3);
}

a.clear {
  color: white;
  text-decoration: none;
}

a.btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.dropdown-menu {
  background-color: #44505d;
  color: white;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #212529;
}

#title-bar {
  padding: 1rem 0 0.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 1.5rem;
}

nav {
  z-index: 99;
}

#login-form {
  margin: 0;
  max-width: 550px;
  position: absolute;
  right: 50%;
  top: 40%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 80%;
}

#login-form .accordion-item {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

#login-form .accordion-header {
  background-color: transparent;
  border: none;
}

#login-form .accordion-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#login-form .accordion-button::after {
  content: none;
}

#login-form .accordion-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#login-form .accordion-body {
  border: none;
  padding: 3rem 2.5rem 2rem 2.5rem;
  position: relative;
}

#login-form .accordion-body::before {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  content: '';
  display: block;
  height: 90%;
  left: 4%;
  position: absolute;
  top: 5%;
  width: 93%;
}

#login-form .accordion-body .input-group {
  margin-bottom: 1rem;
}

#login-form .accordion-body .input-group:active input, #login-form .accordion-body .input-group:active label, #login-form .accordion-body .input-group:hover input, #login-form .accordion-body .input-group:hover label, #login-form .accordion-body .input-group:focus input, #login-form .accordion-body .input-group:focus label {
  border-color: white !important;
}

#login-form .accordion-body .input-group input[type="submit"] {
  background-color: #44505d !important;
  border: 1px solid #c1c4c7 !important;
  color: white !important;
  font-size: 1.1rem;
  margin-top: 1rem;
  width: 100%;
}

#login-form .accordion-body .input-group input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: #c1c4c7 !important;
}

.detail-box {
  margin-bottom: 1.5rem;
}

.detail-box-title {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.8rem;
  text-transform: uppercase;
  text-align: center;
}

.detail-box-body {
  border-bottom: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 20px;
}

.detail-box-body table tbody tr, .detail-box-body table thead tr {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4);
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.detail-box-body table tbody tr.title, .detail-box-body table thead tr.title {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #c1c4c7;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  padding: 0.3rem 0.1rem 0.3rem 1rem;
}

.detail-box-body table tbody {
  display: block;
  max-height: 250px;
  overflow-y: auto;
}

.detail-box-body table tbody::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}

.detail-box-body table tbody::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 40%;
}

.detail-box-body table tbody::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.detail-box-body table tbody::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.card {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 1rem;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.15);
}

.card-header .card-title {
  margin: 0.3rem 0;
}

.card-footer {
  border-color: rgba(255, 255, 255, 0.15);
}

.modal {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background: -webkit-gradient(linear, left top, right top, from(#303a45), to(#44505d));
  background: linear-gradient(to right, #303a45, #44505d);
}

.label-group {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.label-group-title {
  background-color: #212529;
  color: #c1c4c7;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.2rem 1rem;
  width: 100%;
}

.label-group-info {
  background-color: rgba(0, 110, 255, 0.2);
  padding: 0.2rem 1rem;
  width: 100%;
}

.loan {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border-right: 7px solid rgba(0, 255, 55, 0.15);
  -webkit-box-shadow: -3px 1px 5px 2px rgba(0, 0, 0, 0.3);
          box-shadow: -3px 1px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 0.7rem 0.5rem 1rem 0.5rem;
}

.loan label {
  cursor: pointer;
}

.loan:hover {
  -webkit-box-shadow: -4px 2px 7px 4px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 2px 7px 4px rgba(0, 0, 0, 0.3);
  color: #c1c4c7;
}

.loan:hover .text-white {
  color: #c1c4c7 !important;
}

.loan-customer {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.loan-info {
  color: #c1c4c7;
  font-weight: 700;
  text-align: center;
}

.amortization .customer {
  padding: 1rem;
}

.amortization .customer-name {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.amortization .customer-address {
  color: #c1c4c7;
  font-weight: 700;
  text-align: center;
}

.amortization .customer-info {
  line-height: 1.5rem;
}

.amortization-table tr.row {
  background-color: rgba(255, 255, 255, 0.15);
}

.amortization-table tr.row:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.2);
}

.amortization-table tr.row:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.amortization-table tr.title {
  background-color: #212529;
}

.amortization-table tr.title:hover {
  background-color: #212529;
}

.table-users thead tr {
  font-size: 1.1rem;
}

.table-users tbody tr {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table-users tbody tr td, .table-users tbody tr th {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table-users tbody tr:hover {
  background-color: rgba(0, 110, 255, 0.1) !important;
}

.table-users tbody tr:nth-child(2n) {
  background-color: rgba(0, 110, 255, 0.05);
}

.table-users .my-icon {
  font-size: 1.1rem;
  margin-right: 0.7rem;
}

.table-users .my-icon.fa-key {
  color: #e9c00c;
}

.table-users .my-icon.fa-key:hover {
  color: rgba(233, 192, 12, 0.6);
}

.table-users .my-icon.fa-eye {
  color: white;
}

.table-users .my-icon.fa-eye:hover {
  color: #c1c4c7;
}

.table-users .my-icon.fa-edit {
  color: #0099ff;
}

.table-users .my-icon.fa-edit:hover {
  color: rgba(0, 153, 255, 0.5);
}

.table-users .my-icon.fa-trash-alt {
  color: #cc0000;
}

.table-users .my-icon.fa-trash-alt:hover {
  color: rgba(204, 0, 0, 0.7);
}

.alert {
  border: none;
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 400px;
  padding: 1rem 2rem 1.5rem 2rem;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 black;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  z-index: 9999;
}

.alert div {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.alert.alert-primary {
  background-color: rgba(111, 174, 255, 0.95);
}

.alert.alert-danger {
  background-color: rgba(255, 143, 143, 0.95);
}

.alert.alert-success {
  background-color: rgba(118, 199, 128, 0.95);
}

input.input-validation-error .input-group-text, input.input-validation-error .form-control, input.input-validation-error .input-group-text, input.input-validation-error .form-control, .form-group.input-validation-error .input-group-text, .form-group.input-validation-error .form-control {
  border: 1px solid #cc0000;
}

input.input-validation-error .input-group-text:hover, input.input-validation-error .form-control:hover, input.input-validation-error .input-group-text:hover, input.input-validation-error .form-control:hover, .form-group.input-validation-error .input-group-text:hover, .form-group.input-validation-error .form-control:hover {
  border: 1px solid #cc0000;
}

input.valid .input-group-text, input.valid .form-control, input.valid .input-group-text, input.valid .form-control, .form-group.valid .input-group-text, .form-group.valid .form-control {
  border: 1px solid #0099ff;
}

input.valid .input-group-text:hover, input.valid .form-control:hover, input.valid .input-group-text:hover, input.valid .form-control:hover, .form-group.valid .input-group-text:hover, .form-group.valid .form-control:hover {
  border: 1px solid #0099ff;
}

.input-group.input-validation-error .input-group-text, .input-group.input-validation-error .form-control, .input-group.input-validation-error .input-group-text, .input-group.input-validation-error .form-control, .form-group.input-validation-error .input-group-text, .form-group.input-validation-error .form-control {
  border: 1px solid #cc0000;
}

.input-group.input-validation-error .input-group-text:hover, .input-group.input-validation-error .form-control:hover, .input-group.input-validation-error .input-group-text:hover, .input-group.input-validation-error .form-control:hover, .form-group.input-validation-error .input-group-text:hover, .form-group.input-validation-error .form-control:hover {
  border: 1px solid #cc0000;
}

.input-group.valid .input-group-text, .input-group.valid .form-control, .input-group.valid .input-group-text, .input-group.valid .form-control, .form-group.valid .input-group-text, .form-group.valid .form-control {
  border: 1px solid #0099ff;
}

.input-group.valid .input-group-text:hover, .input-group.valid .form-control:hover, .input-group.valid .input-group-text:hover, .input-group.valid .form-control:hover, .form-group.valid .input-group-text:hover, .form-group.valid .form-control:hover {
  border: 1px solid #0099ff;
}
/*# sourceMappingURL=styles.css.map */